<div class="row">
    <h1 id="habilidades">Habilidades</h1>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="75"
                [radius]="100"
                [imageSrc]="'../assets/html5.png'"
                [imageHeight]="110"
                [imageWidth]="110"
                [showImage]="true"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'orange'"
                [innerStrokeColor]="'lightblue'"
                [animation]="true"
                [animationDuration]="1000"
                [lazy]="true"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="75"
                [radius]="100"
                [imageSrc]="'../assets/css-3.png'"
                [imageHeight]="110"
                [imageWidth]="110"
                [showImage]="true"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'blue'"
                [innerStrokeColor]="'lightblue'"
                [animation]="true"
                [animationDuration]="1000"
                [lazy]="true"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="75"
                [radius]="100"
                [imageSrc]="'../assets/js.png'"
                [imageHeight]="110"
                [imageWidth]="110"
                [showImage]="true"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'yellow'"
                [innerStrokeColor]="'lightblue'"
                [animation]="true"
                [animationDuration]="1000"
                [lazy]="true"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="75"
                [radius]="100"
                [imageSrc]="'../assets/do-sostenido.png'"
                [imageHeight]="110"
                [imageWidth]="110"
                [showImage]="true"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'purple'"
                [innerStrokeColor]="'lightblue'"
                [animation]="true"
                [animationDuration]="1000"
                [lazy]="true"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="75"
                [radius]="100"
                [imageSrc]="'../assets/java.png'"
                [imageHeight]="110"
                [imageWidth]="110"
                [showImage]="true"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'lightblue'"
                [innerStrokeColor]="'lightblue'"
                [animation]="true"
                [animationDuration]="1000"
                [lazy]="true"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="75"
                [radius]="100"
                [imageSrc]="'../assets/nodo-js.png'"
                [imageHeight]="110"
                [imageWidth]="110"
                [showImage]="true"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'green'"
                [innerStrokeColor]="'lightblue'"
                [animation]="true"
                [animationDuration]="1000"
                [lazy]="true"
            ></circle-progress>
        </div>
    </div>
</div>