
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="fotoperfil">
        <img src="../../../assets/foto urugua.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="contenedor">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Desarrollador Web Full Stack Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="acercademi">Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet 
                consectetur adipisicing elit. 
                Non doloribus ipsam eligendi 
                facilis, tempore minus 
                deserunt quasi quaerat 
                similique inventore harum 
                quis iste voluptates ess
                e perferendis expedita quoç
            voluptas pariatur!</p>
        </span>    
    </div>
</div>
